html,
body {
  height: 100%;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  background: url("../images/phone.jpg");
  background-repeat: round;
  overflow-x: hidden;
}

.header--main.light {

  .swiper-main__title {
    color: #fff;
  }

  .swiper-main__text {
    color: #fff;
  }

  .navbar {

    &__title {
      color: #FFFFFF;
    }


    .menu {

      li {

        a {
          color: #fff;
        }

      }

    }

    .header-social__button {
      color: #fff;

      &:after {
        background: url("../images/polygon-white.svg") no-repeat;
      }
    }
  }

}


a {
  color: #666666;
}

.button {
  color: #FFFFFF;
  padding: 10px 25px;
  background: #0077FF;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
}

.main {
  flex: 1 0 auto;
  width: 100%;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1614px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  color: #0077FF;
  font-size: 16px;
  position: relative;
  width: fit-content;
  cursor: pointer;
  transition: 0.3s;

  &:after {
    content: url("../images/arrow.svg");
    position: absolute;
    width: 18px;
    height: 12px;
    right: -38px;
    transition: 0.4s;

  }

  &:hover:after {
    top: 8px;
    rotate: -180deg;
  }
}

.link--right {
  margin-right: 38px;
}


.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #002D64;
  font-family: 'Unbounded';
  margin-bottom: 30px;
}

.page-title {
  font-family: 'Unbounded';
  font-weight: 700;
  font-size: 44px;
  color: #002D64;
  margin-bottom: 60px;
}

.question--tabs {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 1px solid #DFEEFF;
  border-radius: 7px;
  padding: 20px 40px !important;
  margin-bottom: 30px;

}

.question--tabs .tab {
  cursor: pointer;
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-right: 40px;

}

.question--tabs .tab:hover {
  color: #002D64;
}

.question--tabs .tab--active {
  color: #002D64;
}

.question--tabs .tab--active:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #0077FF;

}

.ask{

  .ask-row.active{
    background: #fff;
  }

  .ask-row{
    padding: 40px;
    border: 1px solid #DFEEFF;
    align-items: center;

    &:first-of-type{
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:first-of-type{
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  &__title{
    font-size: 35px;
    color: #000000;
    margin-bottom: 40px;
  }

  &-card{
    display: flex;
    align-items: center;
  }

  &-card.active{
    background: #fff;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__left{
    display: flex;
    flex-direction: column;
  }

  &__text{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 15px;
  }

  &__name{
    font-size: 14px;
    color: #666666;
  }

  &__right{
    margin-left: auto;
  }

}


.content {
  display: none;
  background: transparent;
}

.content--active {
  display: block;
}

.ask__hidden {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: #fff;
}

.header {
  position: relative;


  li {
    list-style-type: none;
  }

  .navbar {
    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    padding: 45px 0 25px;
    border-bottom: 1px solid #DFEEFF;
    margin-bottom: 40px;

    &__logo {
      flex: 0 0 17%;
      margin-right: 30px;
    }

    &__title {
      max-width: 200px;
      font-size: 14px;
      line-height: 20px;
      color: #333333;
      margin-right: 4.5%;

    }

    .header-social {
      margin-left: auto;
      position: relative;

      .header-social__button:hover + .header-social__popup {
        visibility: visible;
        opacity: 1;
      }

      &__phone {
        white-space: nowrap;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 5px;
      }

      &__departament {
        font-size: 12px;
        color: #666666;
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      &__popup {
        background: #ffff;
        /* тень у картинки */
        width: fit-content;
        height: fit-content;
        box-shadow: 0px 10px 30px rgba(43, 58, 95, 0.15);
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 15px;
        left: -30px;
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        padding: 25px 30px;

      }

      .header-social__popup:hover {
        visibility: visible;
        opacity: 1;
      }

      .popup-active {
        visibility: visible;
        opacity: 1;
      }

      &__links {
        margin-bottom: 20px;
        display: flex;
        justify-content: right;
      }

      &__link {
        margin-right: 30px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      &__button {
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
        margin-right: 20px;
        position: relative;
        white-space: nowrap;

        &:after {
          content: '';
          background: url("../images/polygon.svg") no-repeat;
          position: absolute;
          width: 10px;
          height: 10px;
          right: -20px;
          top: 5px;

        }

      }

    }

    .menu {
      display: flex;
      flex-direction: column;

      &__first-row {
        display: flex;
        margin-bottom: 24px;

        li {

          margin-right: 40px;

          &:last-of-type {
            margin-right: 0;
          }

          a {
            font-size: 15px;
            line-height: 18px;
            color: #002D64;
            transition: 0.3s;
            white-space: nowrap;

            &:hover {
              font-weight: 400;
              font-size: 15px;
              line-height: 18px;
              color: #0077FF;
            }
          }
        }
      }

      &__second-row {
        display: flex;

        li {

          margin-right: 50px;

          &:last-of-type {
            margin-right: 0;
          }

          a {
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #002D64;

            &:hover {
              color: #0077FF;
            }
          }
        }
      }
    }

  }

  .navbar__wrap {
    display: flex;
    height: 100%;
  }

  .hamb {
    display: none;
  }

  .popup {
    display: none;
  }

  .menu > li > a {
    text-decoration: none;
  }

  .navbar__wrap .menu {
    display: flex;
  }

  .navbar__wrap .menu > li {
    display: flex;
    align-items: stretch;
  }

  .navbar__wrap .menu > li > a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.7);
  }

  .navbar__wrap .menu > li > a:hover {
    color: rgba(255, 255, 255, 1);
  }

  @media (max-width: 1160px) {
    .navbar__title {
      display: none;
    }
  }

  @media (max-width: 1000px) {
    .navbar__wrap .menu {
      display: none;
    }

    .hamb {
      display: flex;
      align-items: center;
    }

    .hamb__field {
      padding: 10px 20px;
      cursor: pointer;
    }

    .bar {
      display: block;
      width: 30px;
      height: 2px;
      margin: 6px auto;
      background-color: #0077FF;
      transition: 0.2s;
    }

    .popup {
      position: fixed;
      top: 130px;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 100;
      display: flex;
      transition: 0.3s;
    }

    .popup.open {
      left: 0;
    }

    .popup .menu {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      padding: 50px 0;
      overflow: auto;
      padding-bottom: 0;
    }

    .popup .menu > li {
      width: 100%;
    }

    .popup .menu > li > a {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px 0;
      font-size: 20px;
      font-weight: bold;
      color: #3f3f3f;
    }

    .popup .menu > li > a:hover {
      background-color: rgba(122, 82, 179, 0.1);
    }

    .hamb__field.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamb__field.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamb__field.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    body.noscroll {
      overflow: hidden;
    }
  }


}

@media (max-width: 650px) {
  .header--main.header .swiper-slide {
    padding-top: 170px !important;
  }

  .swiper-main__title {
    font-size: 30px !important;
    line-height: 37px !important;
    margin-bottom: 15px !important;
  }

  .swiper-main__text {
    font-size: 16px !important;
    line-height: 24px !important;
    margin-bottom: 30px !important;
  }

  .swiper-main__button {
    font-weight: 400 !important;
    font-size: 14px !important;
  }

  .swiper-main__nav {
    right: unset !important;
    left: 10px !important;
  }

  .swiper-pagination {
    white-space: nowrap !important;
  }

}

@media (max-width: 550px) {

  .navbar {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .header .popup {
    top: 85px !important;
  }

  .header .bar {
    width: 18px;
  }

  .header-social__links {
    display: none !important;
  }

  .header-social {
    margin: auto 0;
    margin-left: auto;
  }

  .hamb__field {
    padding-left: 0 !important;
  }

  .header .navbar__logo {
    position: relative !important;
    top: 5px !important;
    margin: auto 0px !important;
    margin-right: 10px !important;
  }

  .header-social__button {
    font-size: 12px !important;
  }

}


.popup {
  display: flex !important;
  flex-direction: column !important;

}


.popup .menu {

  padding-top: 0 !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-bottom: 0 !important;

  .menu__first-row {
    margin-right: auto;

    li {
      margin-bottom: 30px;
    }

    a {
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #002D64;
    }
  }

  .menu__second-row {
    margin-right: auto;
    width: 100%;

    li {
      margin-bottom: 30px;
    }

    a {
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #002D64;
    }
  }


}

.footer {

  background: #002D64;
  padding-top: 80px;
  padding-bottom: 70px;

  &-top {

    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 70px;
    flex-wrap: wrap;

  }

  &__links {
    display: flex;
    align-items: center;
    flex: 0 0 89%;
    justify-content: space-between;
    margin-right: 20px;
    flex-wrap: wrap;
  }

  &__link {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &__social-links {
    margin-left: auto;
    white-space: nowrap;
  }

  &__social-link {
    margin-right: 25px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &-bottom {
    display: flex;
    align-items: top;
  }

  &__logo {
    margin-right: 70px;
  }

  &__title {
    max-width: 556px;
    font-size: 16px;
    line-height: 24px;
    color: #D9D9D9;
    margin-right: 60px;
  }

  &__document-link {
    font-size: 15px;
    line-height: 24px;
    color: #D9D9D9;
    margin-right: 40px;

    &:last-of-type {
      margin-right: 0;
    }

  }

  &__authors {
    margin-left: auto;

    a {
      font-size: 15px;
      line-height: 24px;
      color: #D9D9D9;
    }


  }

}

.header--main.header {

  .link {
    color: #fff;
    background: #0077FF;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 10px 63px 10px 25px;

    &:after {
      content: url("../images/arrow-white.svg");
      right: 20px;
    }
  }


  .navbar {
    border-bottom: none;
    position: absolute;
    z-index: 2;
  }

  .swiper-slide {
    padding-top: 360px;
    padding-bottom: 260px;
    position: relative;
  }

  .swiper-wrapper {
    margin-bottom: 90px;
  }

  .swiper-button-next {
    position: static !important;
  }

  .swiper-button-prev {
    position: static !important;
  }

  .swiper-pagination {
    position: static !important;
    margin-right: 30px;
  }

  .swiper-main__nav {
    position: absolute;
    bottom: 90px;
    right: 176px;
    display: flex;
    align-items: center;

    .swiper-pagination-bullet {
      position: relative;
      cursor: pointer;
      height: 16px;
      width: 16px;
      background: rgba(255, 255, 255,);
      opacity: 0.8 !important;
      margin-right: 15px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: #0077FF;
    }

    .swiper-button-next {
      position: relative;
      cursor: pointer;

      &:after {
        content: url("../images/arrow-right-white.svg");
      }
    }


    .swiper-button-prev {
      position: relative;
      cursor: pointer;
      margin-right: 20px;

      &:after {
        content: url("../images/arrow-left-white.svg");
      }
    }
  }


}

.swiper-main {
  position: relative;

  &__title {
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    color: #002D64;
    margin-bottom: 40px;
  }

  &__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
    margin-bottom: 60px;
  }

  &__container {
    max-width: 735px;
  }

}

.header.mobile {

  .header-social__button {
    color: #000 !important;

    &:after {
      background: url(../images/polygon.svg) no-repeat !important;
    }
  }

}

@media (max-width: 1000px) {

  .header .hamb {
    position: relative;
    top: -5px;
  }

  .header .navbar__logo {
    flex: 0 0 30%;
  }

  .header .navbar {
    background: #fff;
  }

  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 130px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
}

@media (max-width: 550px) {

  .navbar {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .header .popup {
    top: 85px !important;
  }

  .header .bar {
    width: 18px !important;
  }


  .header-social {
    margin: auto 0;
    margin-left: auto;
  }

  .hamb__field {
    padding-left: 0 !important;
  }

  .header .navbar__logo {
    position: relative !important;
    top: 5px !important;
    margin: auto 0px !important;
    margin-right: 10px !important;

  }

  .header-social__button {
    font-size: 12px !important;
  }
}


.stats {

  margin-bottom: 130px;

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &-card {
    display: flex;
    align-items: center;
    flex: 0 0 calc(100% / 4 - 35px);
    margin-right: 46px;
    font-size: 14px;

    &:last-of-type {
      margin-right: 0;
    }

  }

  &__number {
    font-size: 55px;
    color: #0077FF;
    margin-right: 20px;
    font-family: 'Unbounded';
  }

}


.link-page {
  font-size: 14px;
  margin-bottom: 10px;
  color: #666666;
}

.pagination {
  display: flex;
  font-size: 16px;
  margin-bottom: 10px;

  &__element {
    margin-right: 50px;
    position: relative;

    &:after {
      content: '';
      background: #D9D9D9;
      position: absolute;
      height: 1px;
      width: 20px;
      top: 10px;
      right: -35px;
    }

    &:last-of-type {
      color: #D9D9D9;

      &:after {
        display: none;
      }
    }
  }
}


.about {

  display: flex;
  flex-direction: row;
  margin-bottom: 114px;
  align-items: center;

  &__left {
    flex: 0 0 calc(50% - 65px);
    margin-right: 65px;
  }


  &__text {
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    margin-bottom: 40px;

  }

  p {
    margin-bottom: 15px;
  }

  img {
    max-width: unset;
    width: 100%;
  }


}


.news {

  margin-bottom: 120px;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &-card--first {
    flex: 0 0 47%;
    margin-right: 30px;
    position: relative;
    background: transparent;
    border-radius: 10px;
    transition: 0.5s;
    margin-bottom: 20px;

    &:hover {
      transform: translateY(-10px);
      background: #fff;
      box-shadow: 0px 10px 30px rgba(43, 58, 95, 0.15);
    }


    &__img {
      height: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    &__title {
      position: absolute;
      font-weight: 600;
      font-size: 28px;
      color: #fff;
      bottom: 68px;
      left: 40px;
    }

    &__date {
      position: absolute;
      font-size: 14px;
      color: #fff;
      bottom: 40px;
      left: 40px;

    }

  }

  &-card {
    flex: 0 0 24%;
    border-radius: 10px;
    transition: 0.5s;
    background: transparent;
    border: 1px solid #DFEEFF;
    border-radius: 10px;

    &:hover {
      transform: translateY(-10px);
      background: #fff;
      box-shadow: 0px 10px 30px rgba(43, 58, 95, 0.15);
    }


    &:nth-of-type(2n) {
      margin-right: 30px;


    }

    &__bottom {
      padding: 0 30px;
      padding-bottom: 16px;
    }

    &__img {
      margin-bottom: 30px;
    }

    &__title {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 15px;
    }

    &__date {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
    }


  }


}


.photo-gallery {
  width: 100%;
  margin-bottom: 120px;

  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__pictures {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  &-picture {
    flex: 0 0 calc((100% - 90px) / 4);
    margin-right: 30px;
    padding: 20px;
    padding-bottom: 25px;
    transition: 0.5s;
    background: transparent;
    border: 1px solid #DFEEFF;
    border-radius: 10px;
    margin-bottom: 30px;

    &:nth-of-type(4n) {
      margin-right: 0;
    }

    &:hover {
      transform: translateY(-10px);
      background: #fff;
      box-shadow: 0px 10px 30px rgba(43, 58, 95, 0.15);
    }


    &__image {
      margin: 0 auto;
      margin-bottom: 25px;
      display: flex;
      justify-content: center;
      width: 100%;

      img {
        width: 100%;

      }

    }

    &__row {
      display: flex;
      margin-bottom: 10px;

    }

    &__icon {
      margin-right: 15px;
    }

    &__amount {
      font-size: 14px;
    }

    &__text {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #000000;

    }

    :last-of-type {
      margin-right: 0;
    }
  }

}

.news-sliders {

  padding: 60px;
  border: 1px solid #DFEEFF;

  &__top {
    padding: 0 100px 0 100px;
    border-bottom: 1px solid #DFEEFF;
    position: relative;
  }

  .swiper-next {
    position: absolute;
    right: 0;
    top: 50%;
  }

  .swiper-prev {
    position: absolute;
    left: 0;
    top: 50%;
  }

  .swiper-student {
    padding: 50px;
  }

  .swiper-next {
    cursor: pointer;

    &:after {
      content: url("../images/slider-right.svg");
    }
  }


  .swiper-prev {
    cursor: pointer;
    margin-right: 20px;

    &:after {
      content: url("../images/slider-left.svg");
    }
  }


}


.video-gallery {
  width: 100%;
  margin-bottom: 120px;

  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__cards {
    display: flex;
    width: 100%;
  }

  &__bottom {
    padding: 0 30px;
  }

  &-card {
    flex: 0 0 calc((100% - 90px) / 3);
    margin-right: 30px;
    transition: 0.5s;

    &:hover {
      transform: translateY(-10px);
    }

    &:last-of-type {
      margin-right: 0;
    }

    &__image {
      margin-bottom: 20px;

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    &__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 15px;
    }

    &__row {
      display: flex;
    }

    &__icon {
      margin-right: 15px;
    }


  }
}


.afisha {
  width: 100%;
  margin-bottom: 120px;

  &__block {
    margin-bottom: 100px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 36px;
  }

  &__versus {
    margin: 0 15px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #DFEEFF;
    border-radius: 10px;

  }

  &-card {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    padding: 30px 40px;
    border-bottom: 1px solid #DFEEFF;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
  }

  &__date {
    font-family: 'Unbounded';
    font-size: 26px;
    color: #0077FF;
    margin-bottom: 20px;
  }

  &__time {
    font-size: 18px;
    line-height: 20px;
    color: #333333;

  }

  &__center {
    display: flex;
    flex-direction: column;
  }

  &__team {
    font-weight: 500;
    font-size: 26px;
    color: #333333;
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 22px;
  }

  &__location {
    display: flex;
  }

  &__icon {
    margin-right: 15px;
  }

  &__right {
    margin-left: auto;
  }


}

.teams {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__title {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
  }

  &-card {
    flex: 0 0 calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 60px;
    text-align: center;
    transition: 0.5s;

    &:hover {
      transform: translateY(-10px);
    }

    &:hover .teams__title {
      color: #002D64;
    }

    &:hover img {
      filter: drop-shadow(0px 10px 30px rgba(43, 58, 95, 0.15));
    }

    img {
      margin-bottom: 15px;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

}

.students {

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  .student {

    display: flex;
    flex-direction: column;
    margin-right: 40px;
    flex: 0 0 calc((100% - 160px) / 5);
    margin-bottom: 64px;
    transition: 0.5s;

    &:hover .student__name {
      color: #002D64;
    }

    &:hover img {
      filter: drop-shadow(0px 10px 30px rgba(43, 58, 95, 0.15));
    }

    &:hover {
      transform: translateY(-10px);
    }

    &:nth-of-type(5n) {
      margin-right: 0;
    }

    img {
      margin-bottom: 20px;
    }

    &__name {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 10px;
    }


  }

}

.achievements {

  &__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 35px;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__img {
    margin-left: auto;
  }

  &__row {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    color: #333333;
  }

  &__card {
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
    padding: 40px;
    border: 1px solid #DFEEFF;


    &:first-of-type {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-of-type {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

  }

  &__year {
    margin-right: 45px;
  }

}

.pride {

  display: flex;
  flex-direction: row;

  &__left {
    flex: 0 0 35%;
    margin-right: 30px;
  }

  &__info {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #333333;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-size: 18px;
    line-height: 28px;
    color: #333333;
    margin-bottom: 20px;
    padding-left: 50px;
    position: relative;

    &:after {
      content: '';
      height: 1px;
      width: 18px;
      background: #0077FF;
      position: absolute;
      left: 0;
      top: 15px;

    }

  }

}


.anketa {
  padding: 85px 105px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/background.jpg") no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;

  &__title {
    font-family: 'Unbounded';
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: #FFFFFF;
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;

  }

  &__link {
    background: #002D64;
    padding: 10px 53px 10px 25px;
    color: #fff;
    border-radius: 10px;
    white-space: nowrap;
  }

  .link:after {
    content: url("../images/arrow-white.svg");
    right: 15px;
  }

  .link:hover:after {
    top: 18px;

  }

}


.partners {
  margin-bottom: 120px;

  .swiper-slide{
    cursor: pointer;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
  }

  &__button--next {
    position: relative;
    cursor: pointer;

    &:after {
      content: url("../images/slider-right.svg");
    }
  }


  &__button--prev {
    position: relative;
    cursor: pointer;
    margin-right: 20px;

    &:after {
      content: url("../images/slider-left.svg");
    }
  }

}


.contacts {
  display: flex;
  margin-bottom: 120px;

  &__map {
    flex: 0 0 65%;
    margin-right: 80px;
    border-radius: 10px;

    iframe {
      border-radius: 10px;
    }
  }

  &__address {
    margin-bottom: 30px;
    line-height: 28px;
  }

  &__time {
    margin-bottom: 30px;
  }

  &__row {
    margin-bottom: 20px;
  }

  &__phones {
    display: flex;
  }

  &__departament {
    margin-right: 30px;
  }

  &__phone {

    .contacts__row {
      display: block;
    }

  }

}

.info-contacts {

  &__row {
    display: flex;
    margin-right: 30px;
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 70px;
    }
  }

  &__title {
    flex: 0 0 40%;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
  }

  &__text {
    font-size: 18px;
    line-height: 28px;
    color: #333333;

    a {
      color: #333333;

      &:hover {
        color: #0077FF;
      }
    }
  }

  &__text--mail {
    a {
      color: #0077FF;
    }
  }

}

.page-info {

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__main {
    flex: 0 0 74.5%;
    margin-right: 30px;
  }


  &__aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 0.5s;

    .active {
      font-weight: 700;
    }

    .aside__panel {
      border-radius: unset;
      border-bottom: 1px solid #DFEEFF;
      border-radius: unset;
      border-radius: 0px;
      white-space: nowrap;
      display: block;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;

      a {
        white-space: nowrap;
        padding: 14px 40px;
        display: block;
        font-size: 16px;
        font-weight: 400;
        border-bottom: none;
        background: #fff;
        color: #333333;

        &:first-of-type {
          padding-top: 0;
        }

        &:last-of-type {
          padding-bottom: 28px;
        }
      }
    }

    a.panel__link {
      white-space: pre-wrap;
    }

    .panel__link:hover {
      color: #0077FF;
    }

    .panel__link.active {
      font-weight: 600;
    }


    a.aside__link {
      padding: 24px 40px;
      border-bottom: 1px solid #DFEEFF;
      background: #fff;
      width: 100%;
      font-weight: 500;
      font-size: 18px;
      color: #000000;
      transition: 0.3s;

      &:hover {
        color: #0077FF;
      }

      &:first-of-type {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: none;
      }

      &:last-of-type {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }


    }

    a.aside__link.active {
      border-bottom: none;
      font-weight: 700;
      position: relative;

      &:before {
        content: '';
        width: 3px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 25px;
        background: #0077FF;

      }

    }
  }

}

.main-info {

  &__music {
    margin-bottom: 50px;
  }


  &__text-hymn {
    white-space: break-spaces;
    margin-bottom: 70px;

    p {
      margin-bottom: 0 !important;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    padding: 0 30px;
    margin-bottom: 40px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0px;
      top: 0;
      background: #0077FF;
      width: 4px;
      height: 100%;

    }
  }

  &__img {
    margin-bottom: 30px;
  }

  &__cursive {
    font-style: italic;
    padding: 0 40px;
    margin-bottom: 60px;
  }

  &__title {
    font-weight: 500;
    font-size: 35px;
    color: #000000;
    margin-bottom: 35px;
  }

  p {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;

  }


}

.stages {

  display: flex;
  flex-direction: column;

  .stage {
    display: flex;
    flex-direction: row;
    padding: 40px;
    border: 1px solid rgba(0, 114, 248, 0.07);
    transition: 0.5s;


    &:first-of-type {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-of-type {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }


    &__column {
      margin-right: 40px;
    }

    &__title {
      flex: 0 0 54%;
      margin-right: 40px;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #333333;
      margin-bottom: 20px;
    }

    &__text p {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #333333;
    }

    &__img {
      flex: 0 0 300px;

      img {
        width: 300px;
        height: auto;
        object-fit: cover;
      }
    }


  }


}

.date {
  font-family: 'Unbounded';
  font-weight: 400;
  font-size: 26px;
  color: #0077FF;
  margin-right: 40px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 30px;
    background: #0077FF;
    left: -40px;
  }
}

.personal {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &-card {
    flex: 0 0 calc((100% - 105px) / 4);
    margin-right: 35px;
    margin-bottom: 60px;

    img {
      border-radius: 10px;
      margin-bottom: 20px;
      object-fit: cover;
      min-height: 402px;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
    }

    &__name {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 10px;
      transition: 0.3s;

      &:hover {
        color: #002D64;
      }
    }

    &__job {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #666666;
    }
  }

}

.downloads {

  display: flex;
  flex-direction: column;

  &-card {
    display: flex;
    padding: 40px;
    background: transparent;
    align-items: center;
    border: 1px solid #DFEEFF;
    transition: 0.3s;

    &:hover {
      background: #fff;
    }

    &:first-of-type {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-of-type {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &__icon {
      margin-right: 40px;
    }

    &__title {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #000000;

      &:hover {
        color: #002D64;
      }
    }

    &__size {
      font-size: 16px;
      color: #666666;
    }

    &__center {
      flex: 0 0 80%;
    }

    &__right {
      margin-left: auto;
      transition: 0.3s;

      &:after {
        content: url("../images/download.svg");
        height: 17px;
        width: 20px;
      }

      &:hover:after {
        content: url("../images/download-active.svg");
      }
    }

  }


}

@media (max-width: 1470px) {

  .stats-card {
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .footer__social-links{
    margin: 0 auto;
  }

  .footer__links{
    margin-bottom: 15px;
  }

}

@media (max-width: 1200px) {

  .page-info__row{
    flex-wrap: wrap;
  }

  .page-info__main{
    flex: 0 0 100%;
    order: 1;
    width: 100%;
  }

  .page-info__aside{
    flex: 0 0 100%;
    order: 0;
    margin-bottom: 30px;
  }

  .news-card{
    text-align: center;
  }

  .news-card__img{
    margin-left: auto;
    margin-right: auto  ;
  }

  .news-card--first{
    flex: 0 0 100%;
  }

  .news-card{
    flex: 0 0 calc((100% - 60px) / 2);
  }

  .footer-bottom{
    flex-wrap: wrap;
    justify-content: center;

  }

  .footer__logo{
    flex: 0 0 30%;
    margin-right: 0;
  }

  .footer__title{
    flex: 0 0 30%;
    margin-right: 30px;
    margin-bottom: 30px
  }

  .footer__document-links{
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
  }

  .footer__authors{
    flex: 0 0 100%;
    justify-content: center;
    display: flex;
  }

  .footer-top{
    justify-content: center;
  }

  .footer__links{
    justify-content: flex-start;
    justify-content: center;
  }

  .footer__link{
    margin-right: 30px;
  }

  .contacts__map{
    flex: 0 0 45%;
  }

  .about {
    flex-wrap: wrap;

    &__left {
      flex: 0 0 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__right {
      flex: 0 0 100%;
      margin-right: 0;
    }
  }

  .photo-gallery {

    &__pictures {
      flex-wrap: wrap;
    }

    &-picture {
      flex: 0 0 calc((100% - 90px) / 3);

      &:nth-of-type(3n) {
        margin-right: 0px;
      }

      &:nth-of-type(4n) {
        margin-right: 30px;
      }

    }

  }
}

@media (max-width: 1000px) {

  .personal-card{
    flex: 0 0 calc((100% - 70px)/3);

    &:nth-of-type(4n){
      margin-right: 35px;
    }

    &:nth-of-type(3n){
      margin-right: 0;
    }
  }

  .partners{
    margin-bottom: 50px;
  }

  .anketa{
    margin-bottom: 50px;
  }

  .news{
    margin-bottom: 50px;
  }

  .header--main.header .swiper-wrapper{
    margin-bottom: 50px;
  }

  .stats{
    margin-bottom: 50px;
  }

  .about{
    margin-bottom: 50px;
  }

  .students {
    margin-bottom: 40px;

    .student {
      margin-right: 40px;
      flex: 0 0 calc((100% - 80px) / 3);
      margin-bottom: 64px;

      &:nth-of-type(3n){
        margin-right: 0;
      }

      &:nth-of-type(5n){
        margin-right: 40px;
      }
      }
  }

  .stage{
    flex-wrap: wrap;
  }

  .stage__img{
    flex: 0 0 100%;
  }

  .footer__links{
    margin-right: 0;
  }

  .anketa__title{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 15px;
  }

  .anketa__text{
    font-size: 18px;
  }

  .anketa{
    padding: 85px 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .anketa__left{
    margin-bottom: 30px;
  }


  .afisha-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .afisha__team{
    font-size: 20px;
  }

  .afisha__left{
    flex: 0 0 30%;
  }

  .afisha__right{
    margin: 0 auto;
    margin-top: 30px;
    flex: 0 0 100%;
  }

  .video-gallery__cards{
    flex-wrap: wrap;
  }

  .video-gallery-card{
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .video-gallery{
    margin-bottom: 50px;
  }

  .photo-gallery {

    &-picture {
      flex: 0 0 calc((100% - 60px) / 2);

      &:nth-of-type(3n) {
        margin-right: 30px;
      }

      &:nth-of-type(2n) {
        margin-right: 0;
      }

    }

  }
}

@media (max-width: 800px){

  .personal-card{
    flex: 0 0 calc((100% - 35px)/2);

    &:nth-of-type(3n){
      margin-right: 35px;
    }

    &:nth-of-type(even){
      margin-right: 0;
    }
  }


  .pride__left{
    flex: 0 0 100%;
    order: 1;
  }

  .pride__img{
    flex: 0 0 100%;
    order: 0;
  }

  .pride{
    flex-wrap: wrap;
  }

  .achievements__year{
    margin-bottom: 10px;
  }

  .achievements__img{
    margin-left: 0;
  }

  .achievements__card{
    flex-wrap: wrap;
  }

  .stages stage__title{
    margin-right: 0 !important;
  }

  .stage__column{
    margin-right: 0 !important;
  }

  .pagination{
    flex-wrap: wrap;
  }

  .pagination__element{
    margin-bottom: 15px;
  }

  .footer__logo{
    flex: 0 0 100%;
    margin-right: 0;
    display: flex;
    justify-content: center;
  }

  .footer__title{
    flex: 0 0 100%;
    margin-bottom: 30px;
    margin-right: 0;
    text-align: center;
  }

  .footer__document-links{
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__authors{
    flex: 0 0 100%;
    justify-content: center;
    display: flex;
    text-align: center;
  }

  .contacts{
    flex-wrap: wrap;
  }

  .contacts__map{
    flex: 0 0 100%;
    order: 2;
    height: 500px;
  }

}

@media (max-width: 600px) {

  .afisha__team{
    font-size: 18px;
  }

  .afisha-card{
    padding: 20px 10px;
  }

  .afisha__subtitle{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .info-contacts__text{
    flex: 0 0 100%;
  }

  .info-contacts__row{
    margin-right: 0;
    flex-wrap: wrap;
  }

  .downloads-card__right{
    margin-bottom: auto;
  }

  .downloads-card{
    padding: 10px;
  }

  .downloads-card__title{
    font-size: 16px;
  }

  .downloads-card__icon{
    margin-bottom: 15px;
  }

  .downloads-card{
    flex-wrap: wrap;
  }

  .page-info__aside a.aside__link{
    font-size: 16px;
    padding: 25px;
  }

  .main-info__text-hymn p{
    font-size: 16px;
  }

  .personal-card{
    flex: 0 0 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .personal-card__img img{
    margin-left: auto;
    margin-right: auto;
  }

  .pride__text{
    font-size: 16px;
    margin-bottom: 10px;
  }

  .pride__info{
    margin-bottom: 15px;
  }

  .achievements__row{
    font-size: 18px;
    margin-bottom: 10px;
  }

  .achievements__card{
    padding: 10px;
  }

  .students{

    .student{
      flex: 0 0 100%;
      margin-right: 0;
    }

  }

  .teams{

    &-card{
      flex: 0 0 100%;
      margin-right: 0;
    }

  }

  .stage__text p{
    font-size: 16px !important;
  }

  .date{
    font-size: 22px !important;
  }

  .stage__title{
    font-size: 16px !important;
  }

  .stage{
    padding: 10px !important;
  }

  .stage__img{
    flex: 0 0 100% !important;
  }

  .stages stage__img img{
    width: 100%;
  }

  .main-info{
    font-size: 16px;
  }

  .page-title{
    font-size: 25px;
    margin-bottom: 30px;
  }

  .main-info__title{
    font-size: 22px;
  }

  .news-card{
    flex: 0 0 100%;
    margin-right: 0;
  }

  .news__head{
    flex-wrap: wrap;
  }

  .footer__link{
    flex: 0 0 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: flex;
  }

  .footer__links{
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .afisha{
    margin-bottom: 50px;
  }

  .afisha__row{
    flex-wrap: wrap;
  }

  .photo-gallery{
    margin-bottom: 50px;
  }

  .video-gallery__row{
    flex-wrap: wrap;
  }

  .title{
    margin-bottom: 20px;
  }

  .link--right{
    margin-bottom: 30px;
  }

  .photo-gallery__row{
    flex-wrap: wrap;
  }

  .title {
    font-size: 25px;
    line-height: 30px;
  }

  .stats-card {
    flex: 0 0 100%;
    margin-right: 0;
  }

  .photo-gallery{
    &-picture {
      flex: 0 0 100%;

      &:nth-of-type(3n) {
        margin-right: 30px;
      }

      &:nth-of-type(2n) {
        margin-right: 30px;
      }

    }
  }
}

